{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block content %}
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="text-center mt-3 text-primary">CV Builder</h3>
            <h5 class="text-center mt-3 text-secondary">Login to your account</h5>
            <form class="mt-5 ml-5 mr-5" method="post" action="/handle_login">
                {% if error != '' %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                {% if success != '' %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group mt-4">
                    <label for="exampleInputEnrollment">Enrollment Number</label>
                    <input type="number" class="form-control" id="exampleInputEnrollment" name="enrollment_no">
                </div>
                <div class="form-group mt-4">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
                <div class="text-center mt-5">
                    Forgot password? Contact <a href="mailto:kshivaji@cs.iitr.ac.in">Administrator</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
